@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

body {
    background-color: #E5E5E5;
}

.dropdown {
    margin: 50px auto;
    background-color:#C4C4C4;
    padding: 62px 84px 72px 77px;
    width: 661px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    min-height: 326px;
}

.dropdown #input {
    border: none;
    font-size: 48px;
    line-height: 56px;
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.dropdown-content {
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    line-height: 35px;
    border: 2px solid #000;
    box-sizing: border-box;
    background-color: #E3E3E3;
}

.dropdown-content:hover {
    background-color: #65CDF9;
    cursor: pointer;
}

.chosens {
    display: flex;
    flex-direction: column;
    top: 326px;
    width: 100%;
}

.chosen {
    display: flex;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    padding: 8px 16px;
    line-height: 28px;
    border: 1px solid #000;
    background-color: #E27BEB;
}

.btn-close {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-image: url("img/Cross.png");
    background-color: transparent;
    background-size: contain;
    outline: none;
    border: none;
    cursor: pointer;
    width: 42px;
    height: 38.5px;
    right: 17px;
}
